@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800;900&family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
    --clr-primary-300: #ff463e;
    --clr-primary-900: #0d1f2d;
    --clr-neutral-200: #f9fbf2;

    --ff-primary: "Montserrat", sans-serif;
    --ff-accent: "Catamaran", sans-serif;
    --ff-up: "Cabin", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-primary-900);
    color: var(--clr-neutral-200);
    font-family: var(--ff-primary);
    overflow-x: hidden;
}

section {
    min-height: 100vh;
}

h1 {
    font-family: var(--ff-accent);
    font-weight: 900;
    font-size: max(7vw, 70px);
    color: var(--clr-primary-300);
}

h2 {
    font-family: var(--ff-primary);
    font-weight: 300;
    font-style: italic;
    font-size: max(4vw, 40px);
    color: var(--clr-neutral-200);
}

h3 {
    font-family: var(--ff-accent);
    font-weight: 800;
    font-size: max(3vw, 35px);
    color: var(--clr-primary-300);
}

h4 {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-style: italic;
    font-size: max(2vw, 25px);
    color: var(--clr-neutral-200);
}

p {
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: max(1.2vw, 18px);
    color: var(--clr-neutral-200);
    opacity: 0.7;
}

nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4vh 0vh 4vh 0vh;
}

nav > a {
    font-size: max(1.1vw, 16px);
    text-decoration: none;
    color: var(--clr-neutral-200);
    opacity: 0.6;
    margin: 0em 4em 0em 4em;
}

nav > a:hover {
    opacity: 1;
}

button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1) !important;
}

.primary-button {
    background-color: var(--clr-primary-900);
    border: 3px solid var(--clr-primary-300);
    border-radius: 15px;
    color: var(--clr-primary-300);
    font-family: var(--ff-primary);
    font-size: max(1.1vw, 16px);
    margin: auto;

    display: inline-block;
    width: auto;
    height: auto;
    padding: 0.6em;
}

.primary-button:hover {
    background-color: var(--clr-primary-300);
    color: var(--clr-neutral-200);
}

img {
    border-radius: 15px;
}

#contact-button {
    position: relative;
    left: 20vw;
}

#hero,
#about,
#work {
    width: 90vw;
}

#hero {
    padding-top: min(200px, 20vh);
    display: flex;
    flex-direction: column;
}

#hero-content {
    display: inline-block;
}

#about {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub {
    position: relative;
    top: -2vw;
    left: 70px;
}

.work-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.odd {
    flex-direction: row-reverse !important;
}

#studybuddy {
    position: relative;
    top: -70px;
}

#studybuddy-image {
    height: 70vh;
    transform: rotate(3deg);
    position: relative;
    left: -75px;
}

.horizontal-image {
    width: 40vw;
    object-fit: contain;
}

#rezept-image,
#php-image {
    transform: rotate(-3deg);
}

#restaurant-image {
    transform: rotate(3deg);
}

.work-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.work-p {
    width: 30vw;
    padding: 3vh 0px 3vh 0px;
}

.about-p {
    margin: 10vh 0vh 10vh 0vh;
    width: 40vw;
    align-self: center;
}

.code-button {
    margin-top: 30px;
    align-self: center;
}

#scroll-to-top-button {
    font-family: var(--ff-up);
    position: fixed;
    z-index: 99;
    right: 50px;
    bottom: 50px;
    background-color: var(--clr-neutral-200);
    font-size: 1.6rem;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--clr-primary-900);
    line-height: 50px;
    transform: translateY(100px);
    transition: all 0.5s ease;
    opacity: 0;
}

.show-button {
    opacity: 1 !important;
    transform: translateY(0px) !important;
}

@media only screen and (max-width: 768px) {
    h1,
    h2 {
        text-align: center;
    }

    h1 {
        font-size: 70px;
    }

    h2,
    h3 {
        font-size: max(5vw, 35px);
    }

    h4 {
        font-size: max(3vw, 25px);
    }

    p,
    nav > a {
        font-size: max(2vw, 18px);
    }

    nav {
        justify-content: center;
    }

    .primary-button {
        font-size: max(2vw, 18px);
        display: inline-block;
        width: auto;
        height: auto;
        padding: 0.8em;
    }

    .work-p,
    .about-p {
        width: 100%;
    }

    .work-wrapper {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin: 15vh 0vh 15vh 0vh;
    }

    .odd {
        flex-direction: column !important;
    }

    #studybuddy-image {
        height: 50vh;
        position: unset;
    }

    .horizontal-image {
        width: 75%;
    }

    #hero {
        width: 100%;
        align-items: center;
    }

    #sub {
        top: -20px;
        left: 0px;
    }

    #contact-button {
        position: static;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 7vw;
    }

    .about-p {
        margin: 10vh 0vh 10vh 0vh;
    }

    .horizontal-image {
        width: 95%;
    }

    #studybuddy {
        top: 0px;
    }

    #scroll-to-top-button {
        right: 20px;
        bottom: 20px;
    }

    #sub {
        top: -20px;
    }
}
